# Ignore datasets
Dataset/
Final_Project/
*.zip
*.npy
*.csv
*.jpg
*.png

# Ignore trained model files
*.h5
*.hdf5
*.pth
*.pt
*.ckpt

# Ignore Python cache & virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log
